.split-layout {
  display: flex;

  .left-section {
    flex: 1;
    padding: 20px;

    .character-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;

      .character-image {
        width: 100%;
        max-width: 200px;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      .character-details {
        h2 {
          font-size: 1.5em;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 5px;
        }
      }
    }
    button {
      display: block;
      margin-top: 10px;
      padding: 8px 12px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #218838;
      }
    }
  }

  .right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .left-section,
    .right-section {
      padding: 10px;
    }
  }
}
