.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  background: linear-gradient(to right, #B7F9F5, #39D1C8,#00BFB3, #B7F9F5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5rem;
  flex-direction: row-reverse;

  h1 {
    margin: 0;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .go-back-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 768px) {
    flex-direction: row-reverse;

    h1 {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      width: fit-content;
    }
  }
}
