.locations-container {
  max-width: 1200px;
  margin: 0 auto;
}

.locations-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-item {
  width: 48%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  a {
    text-decoration: none;
    color: #333;
    display: block;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
  }

  p {
    margin-bottom: 10px;
    color: #777;
  }

  strong {
    color: #555;
  }
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;

  h3 {
    margin-right: 10px;
  }

  button {
    margin-right: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.favorites-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #218838;
    }
  }
}

.wrapper-section {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
