.locations-container {
  max-width: 1200px;
  margin: 0 auto;
}

.locations-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-item {
  width: 48%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.location-item a {
  text-decoration: none;
  color: #333;
}

.location-item a:hover {
  color: #007bff;
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;

  h3 {
    margin-right: 10px;
  }

  button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.favorites-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;

    &:hover {
      background-color: #218838;
    }
  }
}

.wrapper-section{
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
