.skeleton-location-loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skeleton-location-item {
  width: 100%;
  height: 100px;
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  animation: loadingAnimation 1s infinite ease-in-out;
}


@media screen and (min-width: 600px) {
  .skeleton-location-item {
    width: 48%;
  }
}

@keyframes loadingAnimation {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}